.game-container{
    margin:auto;
    text-align: center;
    font-size: larger;
    background-color:black;
}

.score{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    font-size:1.2rem;
}

.score .score-num{
    color:burlywood;
    font-weight: bold;
}
.select{
    align-items: center;
}
.select button:hover{
    background-color: #ff69b4;
}

.choices{
    display:grid;
    grid-template-columns: repeat(2, 1fr); 
}

.choice{
    margin-left: 10px;
    color:darkkhaki;
    
}

.chances-tag{
    background-color: white;
    color: black;
}
.chances{
    color: brown;
    font-weight: bold;
}

.select button, .done button{
    margin-right: 10px;
    background-color: white;
    color: darkblue;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    font-size: larger;
}

